/*Description
1, Root settings
2, Body and html settings
3, Navbar
4, Hero section
5, Testimonial section / Grid area
6, Section Form
7, Footer
*/

/* 1, Root settings*/
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  --one: #d0efb1;
  --two: #b3d89c;
  --three: #9dc3c2;
  --four: #77a6b6;
  --five: #4d7298;
  --black: black;
  --white: white;
}

/* 2, Body and html settings*/

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--five);
}

/* 3, Title and navbar settings (brand logo)*/

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
}

img {
  margin: 0 0 0 0.45em;
  width: 30%;
}
img,
.navigation {
  list-style: none;
  text-transform: uppercase;
}

img,
.navigation a {
  text-decoration: none;
  letter-spacing: 0.45rem;
}

.navigation {
  display: flex;
}

.navigation a {
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  text-decoration: underline;
}

/*media queries to make it responsive*/
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }

  img {
    margin: 0;
    width: 40%;
  }

  .navigation {
    width: 100%;
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  img {
    width: 60%;
  }

  .navigation {
    flex-direction: column;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
/*Validated 20220914 10:27*/

/* 4, Hero section*/

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/porsche1.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
}

.hero-text h1 {
  font-size: 4rem;
  font-weight: 800;
}

/*Adjusting image height to fit all screens on all devices, top to down*/
@media only screen and (max-width: 550px) {
  .hero-image {
    height: 140vh;
  }
}

/* 6, Testimonial section / Grid area */

.testimonials-grid-container {
  display: grid;
  /*First we declare the columns*/
  grid-template-columns: 1fr 1fr;
  /*Next we declare the rows*/
  grid-template-rows: 1fr;
  gap: 20px;
  row-gap: 5vh;
  margin-top: 5vh;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-bottom: 5vh;
  height: auto;

  /*Where do i want each block to be?, how many rows will be used?*/
  grid-template-areas: "comment1 comment2";
}

#comment1 {
  /*Give the area*/
  grid-area: comment1;
  border-radius: 8px;
  background-image: url(img/trygghet.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
}

#comment2 {
  background-color: var(--four);
  /*Give the area*/
  grid-area: comment2;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  color: white;
}

#comment2 h2 {
  width: 80%;
  margin: 0 auto;
  padding: 4vh;
}

#comment2 p,
h2 {
  width: 80%;
  margin: 0 auto;
  padding: 4vh;
}

/*Section Testimonials Grid Responsive settings*/
@media only screen and (max-width: 550px) {
  .testimonials-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    row-gap: 5vh;
    grid-template-areas:
      "comment1"
      "comment2";
  }
}

@media only screen and (max-width: 550px) {
  #comment2 p {
    width: 100%;
    padding: 20px;
  }
}

/* 6, Section Form */

.title {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: var(--four);
  padding: 20px;
}

/*Ending section*/

.ending-picture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/porsche2.jpg);
  height: 130vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 10vh;
}

#welcome {
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: 3rem;
  font-weight: 800;
}

/*Adjusting image height to fit all screens on all devices, top to down*/
@media only screen and (max-width: 550px) {
  .ending-picture {
    height: 55vh;
  }
  #welcome {
    top: 10%;
    font-size: 2rem;
  }
}

/* 7, Footer*/

.Grid__Container {
  display: grid;
  margin-top: 0;
  /* 2 columns for smaller screens */
  grid-template-columns: repeat(2, 1fr);
  height: 40vh;
  background-color: var(--five);
}

#item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 5vh;
}
#item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 5vh;
}
#item3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 5vh;
}
#item4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 5vh;
}

.Bottom_Column {
  /* The bottom "row" should span the 2 columns on smaller screens */
  grid-column: span 2 / span 2;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

@media (min-width: 768px) {
  .Grid__Container {
    /* 4 columns for larger screens */
    grid-template-columns: repeat(4, 1fr);
  }
  .Bottom_Column {
    /* The bottom "row" should span the 4 columns on larger screens */
    grid-column: span 4;
  }
}
/*Validated 20220914 22:55*/
